<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <form action="GET" id="form" class="form">
            <ul>
                <li><a href="/article" role="button">Add Article</a></li>
            </ul>
        </form>
    </nav>